<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exponea.example">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:exported="true"
            android:name=".view.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "exponea://”-->
                <data android:scheme="exponea" />
            </intent-filter>
            <intent-filter android:autoVerify="true" tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="old.panaxeo.com"
                    android:pathPattern="/exponea/.*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AuthenticationActivity"
            android:screenOrientation="sensor" />
        <receiver
            android:name=".services.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.exponea.sdk.action.PUSH_CLICKED" />
                <action android:name="com.exponea.sdk.action.PUSH_DEEPLINK_CLICKED" />
                <action android:name="com.exponea.sdk.action.PUSH_URL_CLICKED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="ExponeaExampleApp" android:value="true" />
        <meta-data
            android:name="ExponeaAuthProvider"
            android:value="com.exponea.example.services.ExampleAuthProvider"
        />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:multiprocess="true"
            tools:node="remove" />
    </application>
</manifest>
